<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% @topics.each do |topic| %>
      <%= render 'topic', topic: topic %>
    <% end %>
  </div>
</div>