<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% @threads.each do |thread| %>
      <%= render 'thread', thread: thread %>
    <% end %>
  </div>
</div>